<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger text-center">
        <p class="text-danger">
          ¡Bienvenido!<br />
          Tu cuenta de gmail no está autorizada<br />
          por favor, contacta a un administrador.
        </p>
        <button
          id="goBack"
          name="goBack"
          (click)=onGoBack()
          class="btn btn-default btn-lg">
            Volver
        </button>
      </li>
    </ul>
  </div>
</div>
