<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <p class="text-info">Conoce a los otros consultores
          <span class="glyphicon glyphicon-ok-sign"></span>
        </p>
      </li>
      <li class="list-group-item list-group-item-info">
        <p class="text-info">Conoce a los clientes
          <span class="glyphicon glyphicon-ok-sign"></span>
        </p>
      </li>
    </ul>
  </div>
  <div class="col-md-6" >
    <div class="well text-center" style="max-height: 102.5px;">
      <h4 class="text-info text-center">Usa tu cuenta de Google</h4>
      <button
        id="submit"
        name="submit"
        (click)=onSubmit()
        class="btn btn-success btn-md">
          Iniciar Sesión
      </button>
    </div>
  </div>
</div>
