<div class="row">
  <div class="col-xs-12">
    <button
      *ngIf="getCustomerService().canAdd()"
      class="btn btn-primary"
      (click)="onNewCustomer()">
        Agregar
        <span class="glyphicon glyphicon-plus">
        </span>
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-info clearfix"
        *ngFor="let customer of customers">
        <app-customer-item [customer]="customer" >
        </app-customer-item>
      </li>
    </ul>
  </div>
</div>
